.signin-button,
.signup-button {
  background-color: #563586;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 70px;
}

.signin-button:hover,
.signup-button:hover {
  background-color: #b22365;
  cursor: pointer;
}
