.footer {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85px;
  padding-bottom: 5px;
}

.footer a {
  color: #563586;
  text-decoration: none;
  margin-left: 4px;
}

.footer a:hover {
  text-decoration: underline;
}
