.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 85px;
}

.header-logo img {
  margin-left: 10px;
  width: 120px;
  height: auto;
  cursor: pointer;
}

.logged-out-actions {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  width: 150px;
}

.logged-in-actions {
  display: flex;
  margin-right: 20px;
  justify-content: center;
}

.user-profile-header {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.username {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  right: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  z-index: 1000;
  width: 100%;
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  max-height: 200px;
  border-radius: 5px;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
