.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 85px;
}

.header-logo img {
  margin-left: 10px;
  width: 120px;
  height: auto;
  cursor: pointer;
}

.logged-out-actions {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  width: 150px;
}

.logged-in-actions {
  display: flex;
  margin-right: 20px;
  justify-content: center;
}

.username {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  display: flex;
  cursor: pointer;
}
