.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.home-text {
  font-size: 18px;
  text-align: center;
}
