.signin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signin-container {
  width: 400px;
  margin: 0 auto;
}

.signin-container .signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-container h2 {
  text-align: center;
  margin-top: 0px;
}

.signin-container .form-group {
  margin-bottom: 20px;
  width: 100%;
}

.signin-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.signin-container input[type="text"],
.signin-container input[type="email"],
.signin-container input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.signin-container .signin-error-message {
  color: red;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
